* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    outline-style: none;
    font-weight: 700;
}

a {
	text-decoration: none;  
	color: rgb(130,158,43); 
}

h5 {
  margin-top: -5px;

}

a:hover { 
	color: rgb(255,255,255);  
}



.fit {
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}



input {
  padding: 0.5em;
  margin: 0.5em 0 0.5em 0;
  background: rgb(25,26,19);
  color: rgb(255,255,255);
  border: 2px solid rgb(25,26,19);
  width: 100%;
}

input:focus {
  border: 2px solid rgb(130,158,43);
}

input:active {
  border: 2px solid rgb(145,162,43);
}

textarea {
  padding: 0.5em;
  width: 100%;
  background: rgb(25,26,19);
  color: rgb(255,255,255);
  border: 2px solid rgb(25,26,19);
  min-height: 6em;
}

textarea:focus {
  border: 2px solid rgb(130,158,43); 
}

.banner h1 { text-align: center; padding: 0.2em 1em 0.2em 1em; font-size: 2.5em; line-height: 1.25em;}
.article h1 { text-align: left; padding: 0;}
.article h2 { font-size: 1.25em;}
.bannertitle { text-align: center; padding-top: 3em;}
.blockbutton { width: 100%; 
 background: rgb(130,158,43);
 height: 46px;
 color: rgb(255,255,255);
 text-align: center;
 padding-top: 15px;
 text-transform: uppercase;
 cursor: pointer;
}

.blockbutton:hover {
  background: rgb(255,255,255);
  color: rgb(130,158,43);
 height: 46px;  
}

.selected { color: rgb(255,255,255);}

.spot {
  color: rgb(130,158,43);
}

.bold {
  font-weight: 700;
}

.bggray {
  background: rgb(34,35,26);
}

.bgdark {
  background: rgb(30,31,23);
}

.pad {
  padding: 30px;
}

@media (min-width: 768px) {
  .smallpadright {
    margin-right: 20px;
  }

  .smallpadleft {
    margin-left: 20px;
  }

  .smallpadmid {
    margin-left: 10px;
    margin-right: 10px;
  }

	.topnavmenu ul{
		list-style: none;
		margin-top: 3em;
		float: right;
	}

	.topnavmenu li {
		float: left;
		padding-left: 1em;
		padding-top: 1em;
	}

}

@media (max-width: 768px){
	.banner h1 {font-size: 1.5em;	}
	.bannertitle { padding-bottom: 4em;}
  .logoholder {text-align: center;}
}

@media (min-width: 768px) and (max-width: 1000px) {
	.banner h1 {font-size: 1.25em;}
}

@media (max-width: 768px) {
  .contactdetails { display: none; }
  
  .topnavmenu ul { float: none; list-style: none; text-align: center;padding-left: 0; }
  .topnavmenu li { float: none; margin-top: 1em; background: rgb(34,35,26); padding: 0.5em;}

  .smallpadright {
    
  }

  .smallpadleft {
    margin-top: 30px;
  }

  .smallpadmid {
    margin-top: 30px;
  }
}

.padtop { margin-top: 30px;}

body {
  background: rgb(25,26,19);
  color: rgb(133,133,133);
}

h1 {
  color: rgb(255,255,255);
  text-transform: uppercase;
  font-size: 1.75em;
  margin: 0;
  padding: 0 0 12px 0;
  letter-spacing: 0.025em;
}

h2 {
  color: rgb(255,255,255);
  text-transform: uppercase;
  font-size: 1.15em;
  margin: 0;
  padding: 0 0 12px 0;
  letter-spacing: 0.025em;
}

p {
  margin: 0; padding: 0;
  line-height: 1.25em;
  letter-spacing: 0.075em;
}
.smalltext {
  margin: 0; padding: 0;
  line-height: 1.35em;
  letter-spacing: 0.075em; 
  font-size: 11pt;
  font-weight: 600;
}

@media (max-width: 1200px) {
  .wrappad { 
    margin-left: 20px;
    margin-right: 20px;
  }
}

@media (min-width: 1200px) {
  .wrappad { 
    margin-left: 152px;
    margin-right: 152px;
  }
}

/* vvvvvvvvvvvvvvvvvvv  TOPNAV  vvvvvvvvvvvvvvvvvvv */

.topinfo { 
  height: 40px;
  width: 100%;
  top:0;
  z-index: 5;
  opacity: 0.98;
}

.toplogo { margin-top: 10px;}



.contactdetails {
  float:right;
  margin-right: 24px; margin-top: 12px;
  font-size: 14px;
}


.socialmediaicons { float: right; font-size: 30px; margin-top: 5px; }
.socialmediaicons a { color: rgb(130,158,43); }
.socialmediaicons a:hover { color: rgb(255,255,255); }

/* ^^^^^^^^^^^^^^^^^^^  TOPNAV ^^^^^^^^^^^^^^^^^^^ */



/* vvvvvvvvvvvvvvvvvvv  TEXTBLOCK vvvvvvvvvvvvvvvvvvv */

.textblock { margin-top: 24px; padding: 0;}

/* ^^^^^^^^^^^^^^^^^^^  TEXTBLOCK ^^^^^^^^^^^^^^^^^^^ */




/* vvvvvvvvvvvvvvvvvvv  FOOTER vvvvvvvvvvvvvvvvvvv */

.footlinks a { color: rgb(133,133,133);}
.footlinks a:hover { color: rgb(255,255,255);}


/* ^^^^^^^^^^^^^^^^^^^  FOOTER ^^^^^^^^^^^^^^^^^^^ */

